* {
    font-size: 16px;
    font-family: 'PT Sans', system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen-Sans, Cantarell, Ubuntu, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html, body {
    margin: 0;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #f4f4f5;
}

#box {
    margin: auto;
}

#box-inner {
    display: grid;
    grid-template-columns: auto auto;
    margin: 1rem;
    border-radius: .5rem;
    padding: 2rem;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
    background-color: #ffffff;
}

#box-inner > div:first-of-type {
    padding-right: 1.5rem;
}

#box-inner > div:last-of-type {
    padding-left: 1.5rem;
    border-left: 1px solid #dfdfdf;
}

#box-qr {
    margin: 0 auto;
    height: 256px;
    width:	256px;
    border: 1px solid #dfdfdf;
}

#box-qr svg {
    height: 256px;
    width: 256px;
}

.input-container {
    margin-bottom: 1.5rem;
}

.input-container:last-of-type {
    margin-bottom: 0;
}

input {
    padding: .5rem .75rem;
    border-radius: .375rem;
    border: 1px solid #dfdfdf;
}

button {
    width: 100%;
    padding: .5rem .75rem;
    border-radius: .375rem;
    border: 1px solid #dfdfdf;
    cursor: pointer;
}

hr {
    margin: 1.5rem 0;
    border: none;
    border-bottom: 1px solid #dfdfdf;
}

label {
    display: block;
    font-size: 14px;
    margin: 0 0 .5rem 0;
}

a[download="qr-code.svg"] {
    display: none;
}
